/* custome css */
body{
  min-height: 100vh;
  background: hsla(205, 46%, 10%, 1);
  background: linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0e1c26", endColorstr="#2a454b", GradientType=1 );
}
.container{
  padding: 20px;
}
/* form section start */
.form{
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-field{
  outline: 0;
  border-radius: 5px;
  padding: 15px 30px 15px 5px;
  border: 2px solid #282c34;
}

.submit-btn{
  border: 0;
  outline: 0;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  margin: 30px 20px;
  padding: 15px 25px;
  border-radius: 40px;
  align-items: center;
  background: rgb(255,102,0);
  background: linear-gradient(0deg, rgba(255,102,0,1) 38%, rgba(255,204,1,1) 100%);
}

/* feature section start*/
.features-section{
  display:flex;
  justify-content:space-between;
}

.features-section label{
  font-weight: 700;
  color: rgba(255,102,0,1)
}

.features-section label select{
  outline: 0;
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px 15px 10px 5px;
  border: 2px solid #282c34;
}

.features-section label input{
  outline: 0;
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px 15px 10px 5px;
  border: 2px solid #282c34;

}

/* notes fection start */
.note-box{
  width: 100%;
  padding: 20px;
  outline: none;
  color: #000;
  margin: 20px 0;
  font-size: 20px;
  list-style: none;
  max-width: 500px;
  min-height: 150px;
  background: #fff;
  position: relative;
  border-radius: 9px;
  letter-spacing: 1px;
}

.note-btn{
  position: absolute;
  right: 20px;
  bottom:20px;
}

.note-btn button{
  border: none;
  cursor: pointer;
  background: none;
  color:darkgray;
  transition: all linear 0.5s;
}

.note-btn button:hover{ 
  color: #000;
}